<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS course</title>
  </head>
  <body>
    <div class="site-title">
      <a href="/"><h1>My NodeJS-Express app</h1></a>
      <h2>Learning NodeJS and Express</h2>
    </div>
    <nav>
      <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
      </ul>
    </nav>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
        quaerat perferendis dolore maxime incidunt repudiandae soluta ipsam ea
        harum perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
        quaerat perferendis dolore maxime incidunt repudiandae soluta ipsam ea
        harum perspiciatis.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
        quaerat perferendis dolore maxime incidunt repudiandae soluta ipsam ea
        harum perspiciatis.
      </p>
    </div>
  </body>
</html>
